@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    .conteiner{
        width: 100%;
        .second{
            width: 100%;
            height: 70vh;
            background-color: #202020;
            img{
                width: 10vw;
                height: 10vh;
                position: absolute;
                left: 40%;
                top: 130%;
            }
            .line{
                width: 0.1%;
                height: 10%;
                transform: rotate(180deg);
                background-color: #f7ac53;
                position: absolute;
                left: 49.9%;
            }
            .titles{
                position: absolute;
                left: 47%;
                font-size: 12pt;
                top: 110%;
                color: #f7ac53;
                text-transform: uppercase;
            }
            .titless{
                font-family: 'Merriweather', serif;
                font-size: 20pt;
                position: absolute;
                left: 35%;
                top: 110%;
                text-align: center;
                color:#fff ;
            }
        }
        .first{
            width: 100%;
            height: 100vh;
            background-image: url('Background.png');
            background-position: center;
            background-repeat: no-repeat;
            .s{
                transform: rotate(90deg);
                color: #f7ac53;
                font-size: 13pt;
                position: absolute;
                top: 60%;
                left: 50%;
            }
            .circle{
                width: 3%;
                border: 2px solid #f7ac53;
                border-radius: 50%;
                position: absolute;
                top: 80%;
                left: 20%;
                color:#f7ac53;
                text-align: center;
                font-size: 15px;
            }
            .h2{
                position: absolute;
                text-align: center;
                top: 20%;
                left:30%;
                font-size: 55pt;
                color: #fff;
                font-family: 'Merriweather', serif;
                border: 1px solid slategrey;
                .fu{
                    color: #f7ac53;
                }
            }
        }

        
    }
    @media screen and (max-width: 840px) {
        .conteiner{
            width: 100%;
            .second{
                width: 100%;
                height: 70vh;
                background-color: #202020;
                .line{
                    width: 0.1%;
                    height: 10%;
                    transform: rotate(180deg);
                    background-color: #f7ac53;
                    position: absolute;
                    left: 49.9%;
                }
                .titles{
                    position: absolute;
                    left: 47%;
                    font-size: 12pt;
                    top: 110%;
                    color: #f7ac53;
                    text-transform: uppercase;
                }
                .titless{
                    font-family: 'Merriweather', serif;
                    font-size: 10pt;
                    position: absolute;
                    left: 35%;
                    top: 110%;
                    text-align: center;
                    color:#fff ;
                }
            }
            .first{
                width: 100%;
                height: 100vh;
                background-image: url('Background.png');
                background-position: center;
                background-repeat: no-repeat;
                .h2{
                    position: absolute;
                    text-align: center;
                    top: 20%;
                    left:30%;
                    font-size: 24pt;
                }
        }
       }
    }
}